:root {
    --dark--green: #174400;
    --dark--green-two : #1c5500
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-title {
    font-size: 3rem;
    margin: 2rem;
    width: 100%;
    text-align: center;
}

.content-description {
    font-size: 2rem;
    width: 100%;
    text-align: center;
    color: #033;
}

.content-btn {
    width: 11rem;
    height: 3rem;
    margin: 3rem;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: var(--light-green-one);
    border: 2px solid var(--green-two);
    text-decoration: none;
}

.link {
    text-decoration: none;
    color: var(--dark--green);
}

.bb-2 {
    border-bottom: 2px solid var(--dark--green);
}