.navbar {
    font-size: 2rem;
    text-decoration: none;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 2rem;
}

.nav-link {
    color: var(--dark--green-two);
}